/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body style  */
body {
  font-family: "Poppins", sans-serif;
}

/* Header Styles   */
header {
  /* background-color: rgb(226, 226, 226); */
  padding: 20px 0;
}
.navbar {
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #3a3a3a;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item ul {
  display: flex;
}
.nav-item ul li {
  list-style: none;
}
.nav-item ul li a {
  text-decoration: none;
  margin-right: 34px;
  font-weight: 600;
  color: #3a3a3a;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

/* Main section styles  */
main {
  max-width: 1290px;
  margin: 0 auto;
}

/* Hero section styles  */
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.hero-content .hero-title {
  font-size: 52px;
  font-weight: 700;
}
.hero-content .hero-sub-title {
  font-weight: 600;
  padding: 16px 0;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.btn-primary span {
  margin-left: 8px;
}

/* company logos styles */
.company-logo {
  display: flex;
  align-items: center;
  margin: 100px 0;
  padding: 35px 60px;
  justify-content: space-between;
  border-top: 2px solid rgba(216, 216, 216, 0.15);
  border-bottom: 2px solid rgb(216, 216, 216, 0.15);
}

/* Popular collection styles */
.popular-collection-container > p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  text-align: end;
  color: #e02c6d;
  margin-top: 50px;
}
.popular-collection-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection {
  padding: 17px 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.collection img {
  width: 100%;
}
.collection-title {
  margin-top: 16px;
  font-weight: 500px;
  font-size: 28px;
  color: #18191f;
}
.collection-price {
  margin: 6px 0;
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.collection-rating {
  display: flex;
  font-weight: 700;
  color: #5e6366;
  /* justify-content: center; */
  gap: 8px;
  align-items: center;
}
.collection-description {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #787885;
}

/* Feature Products styles  */
.feature-product-container {
  margin: 100px 0;
  display: flex;
  align-items: center;
}

.feature-content {
  margin-left: 96px;
  padding: 50px 0;
}
.feature-content h1 {
  font-weight: 700;
  font-size: 38px;
}
.feature-content p {
  margin: 16px 0;
  font-weight: 700;
  color: #6c6c6c;
}
.btn-feature {
  border-radius: 0;
}

/* Footer styles  */
footer {
  background-color: #0a0826;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.copyright {
  text-align: center;
}

.copyright > h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.copyright p {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}
.copyright-symbol {
  margin: 3px 0;
}

.social-icons {
  margin-top: 17px;
}
.social-icons {
  font-size: 32px;
  color: #ffffff;
  display: flex;
  gap: 16px;
}
